{% extends "base.html" %}

{% block head_title %}zeppelin.social{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="zeppelin.social" />
  <meta name="twitter:title" content="zeppelin.social" />

  <meta name="description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />
  <meta name="og:description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />
  <meta name="twitter:description" content="Social media as it should be. Find your community among millions of users, unleash your creativity, and have some fun again." />

  <meta property="og:url" content="https://zeppelin.social" />
  <meta name="twitter:url" content="https://zeppelin.social" />
  <link rel="canonical" href="https://zeppelin.social" />

  <meta property="og:image" content="https://bsky.app/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://bsky.app/static/social-card-default-gradient.png"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
